body{
  background-image: url("https://i.pinimg.com/originals/f9/bc/00/f9bc004bb81edef6381d0e05b4d7b38a.jpg");
  background-repeat: no-repeat;
  font-family: 'Modern Antiqua', cursive;
  font-family: 'Eczar', serif;
}
.logginFacebook{
  width: 4%;
  height: 1%;
}